body{
    color: #000000;
    background-color: rgb(15, 15, 15);
    margin: 0px;
    font-family: "Pacifico", cursive;
     margin-bottom: 100px;
}
header{
    border-bottom:solid 3px black ;
    padding: 20px;
    font-size: 32px;
    color:black;
}



.chamada{
background: rgb(247, 243, 244);
margin-top: 80px;
margin-bottom: 80px;
display: flex;
justify-content: center;
}
.chamada-texto{
   margin-right: 5%;
}
h1{
    font-size: 34px;
}
.categoria{
    background-color: #312e2e;
}